<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>602650088376-gktkfje84034rq5u7so1njugmku00oi2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.602650088376-gktkfje84034rq5u7so1njugmku00oi2</string>
	<key>API_KEY</key>
	<string>AIzaSyCeoMKFTwBZcLPZHmnDQrobxKYoNS0ZS7Q</string>
	<key>GCM_SENDER_ID</key>
	<string>602650088376</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mmatavelli.cryptoglass</string>
	<key>PROJECT_ID</key>
	<string>cryptoglass-f402e</string>
	<key>STORAGE_BUCKET</key>
	<string>cryptoglass-f402e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:602650088376:ios:83c0abb87e2f8e45b9f54d</string>
</dict>
</plist>